[submodule "R1-V"]
	path = R1-V
	url = https://github.com/Deep-Agent/R1-V.git
[submodule "TinyZero"]
	path = TinyZero
	url = https://github.com/Jiayi-Pan/TinyZero.git
[submodule "LLM-RLHF-Tuning-with-PPO-and-DPO"]
	path = LLM-RLHF-Tuning-with-PPO-and-DPO
	url = git@github.com:raghavc/LLM-RLHF-Tuning-with-PPO-and-DPO.git
[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
[submodule "Mulberry"]
	path = Mulberry
	url = https://github.com/HJYao00/Mulberry.git
[submodule "VLMEvalKit"]
	path = VLMEvalKit
	url = https://github.com/open-compass/VLMEvalKit.git
[submodule "Open-Reasoner-Zero"]
	path = Open-Reasoner-Zero
	url = https://github.com/Open-Reasoner-Zero/Open-Reasoner-Zero.git
[submodule "lmm-r1"]
	path = lmm-r1
	url = https://github.com/TideDra/lmm-r1.git
[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "DeepSpeed"]
	path = DeepSpeed
	url = https://github.com/deepspeedai/DeepSpeed.git
[submodule "MM-EUREKA"]
	path = MM-EUREKA
	url = git@github.com:ModalMinds/MM-EUREKA.git
[submodule "r1_workspace_openrlhf"]
	path = r1_workspace_openrlhf
	url = https://github.com/ekonwang/r1_workspace_openrlhf.git
