trl
math_verify
wandb
ipdb
# apt-get upgrade && apt-get update && apt-get install ffmpeg libsm6 libxext6 -y
autogen==0.7.6
pyautogen==0.7.6
openai==1.64.0
pydantic==2.10.6
pydantic_core==2.27.2

jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-kernel-gateway==3.0.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
matplotlib==3.9.2
